fastapi==0.111.0
uvicorn[standard]==0.29.0
python-dotenv==1.0.1
pydantic==2.7.1
pydantic-settings==2.2.1
groq>=1.5.0
slowapi>=0.1.9
stripe==9.9.0
pyswisseph==2.10.3.2
httpx==0.27.0
python-multipart==0.0.9
timezonefinder==6.5.9
tzdata==2025.1
supabase>=2.0.0
